{
    "parserOptions": {
        "ecmaVersion": 2019
    },
    "rules": {
        require-await: "error",
        brace-style: "error",
        computed-property-spacing: ["error", "never"],
        comma-spacing: [
            "error", {
                "before": false,
                "after": true
            }
        ],
        no-trailing-spaces: "error",
        "space-before-function-paren": [
            "error", {
                "anonymous": "never",
                "named": "never",
                "asyncArrow": "always"
            }
        ],
        space-in-parens: "error",
        space-infix-ops: "error",
        "space-unary-ops": [
            2, {
                  "words": true,
                  "nonwords": false
              }
        ],
        space-before-blocks: "error",
        no-tabs: "error",
        keyword-spacing: "error",
        eol-last: "error",
        "indent": [
            2,
            2,
            { "SwitchCase": 1 /*, "VariableDeclarator": { "var": 2} */},
        ],
        "quotes": [
            0,
            "double"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "no-console": [
            0
        ],
    },
    "env": {
        "es6": true,
        "node": true,
        "mocha": true
    },
    "extends": "eslint:recommended"
}
