# General Ignores
*~
*.o
\#*#
core
*.tgz

# Node Ignores
npm-debug.log
node_modules
instantclient
/build/*
/examples/clobstream1out.txt
/examples/clobstream2out.txt
/examples/blobstream1out.jpg
/examples/blobstream2out.jpg
/examples/lobbindsout1.txt
/examples/lobbindsout2.txt

# Oracle Ignores
sqlnet.log
sqlnet.ora
tnsnames.ora
oraaccess.xml
instantclient
instantclient_11_2
instantclient_12_1
