.github
.nycrc
.gitmodules
.npmignore
INSTALL.md
CONTRIBUTING.md
Makefile
binding.gyp
*.tgz
/doc
/examples
/test
/build/Release/oracledb.node
/build/oracledb.target.mk
/build/Release/.deps
/build/Release/obj
*.exp
*.lib
*.map
*.pdb
*.sln
/build/oracledb.vcxproj
/build/oracledb.vcxproj.filters
/build/Release/obj.target
/build/binding.Makefile
/build/gyp-mac-tool
/node_modules
/oracle_private
/package/buildbinary.js
/package/buildpackage.js
/package/Staging
/odpi
/src
