/* Added code to display tables without horizontal scrollbars, add an extra line between two paragraphs, and define the line spacing */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: pre-wrap;
    line-height: 10pt;
}

/*Added code to correct the font size of bullets in a table */
.wy-table-responsive table td p{
    font-size: 11pt;
}

/*Added code to remove the line spacing between bullets in a list */
.wy-table-responsive table td ul{
    line-height: 0pt;
    margin-bottom: 0pt;
}

/* Added code to remove the extra white line displayed at the bottom of the code-block */
.wy-table-responsive table td div{
    line-height: 0pt;
    margin-bottom: 0pt;
}
